In [10]:
import requests
import defs
import pandas as pd

In [3]:
session = requests.Session()
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"

In [4]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)
data = response.json()

In [5]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [8]:
instruments = data['instruments']

68

In [9]:
instrument_data = []
for item in instruments:
    new_ob = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )
    instrument_data.append(new_ob)

In [12]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [13]:
instrument_df

       name      type displayName  pipLocation marginRate
0   HKD_JPY  CURRENCY     HKD/JPY           -4        0.1
1   USD_SGD  CURRENCY     USD/SGD           -4       0.05
2   EUR_SEK  CURRENCY     EUR/SEK           -4       0.03
3   GBP_PLN  CURRENCY     GBP/PLN           -4       0.05
4   EUR_PLN  CURRENCY     EUR/PLN           -4       0.05
..      ...       ...         ...          ...        ...
63  GBP_USD  CURRENCY     GBP/USD           -4       0.05
64  CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
65  AUD_NZD  CURRENCY     AUD/NZD           -4       0.03
66  CAD_SGD  CURRENCY     CAD/SGD           -4       0.05
67  NZD_HKD  CURRENCY     NZD/HKD           -4        0.1

[68 rows x 5 columns]

In [14]:
instrument_df.to_pickle("instruments.pkl")

In [15]:
data = pd.read_pickle('instruments.pkl')

In [16]:
data

       name      type displayName  pipLocation marginRate
0   HKD_JPY  CURRENCY     HKD/JPY           -4        0.1
1   USD_SGD  CURRENCY     USD/SGD           -4       0.05
2   EUR_SEK  CURRENCY     EUR/SEK           -4       0.03
3   GBP_PLN  CURRENCY     GBP/PLN           -4       0.05
4   EUR_PLN  CURRENCY     EUR/PLN           -4       0.05
..      ...       ...         ...          ...        ...
63  GBP_USD  CURRENCY     GBP/USD           -4       0.05
64  CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
65  AUD_NZD  CURRENCY     AUD/NZD           -4       0.03
66  CAD_SGD  CURRENCY     CAD/SGD           -4       0.05
67  NZD_HKD  CURRENCY     NZD/HKD           -4        0.1

[68 rows x 5 columns]